<form
  id="chatMessageForm"
  class="message-composer"
  action="#"
  method="POST"
  novalidate
>
  <div class="message-composer__row">
    {{{IconButton type="button" icon="fa-solid fa-paperclip" ariaLabel="Прикрепить файл" className="message-composer__attach"}}}
    <div class="form-field message-composer__field">
      <div class="form-field__input-wrapper message-composer__input-shell">
        {{{Textarea id="chatMessageInput" name="message" className="message-composer__textarea" rows=1 placeholder=placeholder ariaLabel=placeholder}}}
        {{{IconButton type="button" icon="fa-regular fa-face-smile" ariaLabel="Эмодзи" className="message-composer__emoji"}}}
      </div>
    </div>
    {{{IconButton type="button" icon="fa-solid fa-paper-plane" ariaLabel="Отправить сообщение" className="message-composer__send"}}}
  </div>
</form>
