<div class="create-dm-form">
  <div class="messenger-modal__field">
    <label class="messenger-modal__label" for="dm-search">Search by login</label>
    <div class="messenger-modal__input-shell">
      <input
        type="text"
        id="dm-search"
        class="messenger-modal__input"
        placeholder="Search users..."
        autocomplete="off"
        ref="searchInput"
      />
    </div>
  </div>
  <div ref="listMount" class="create-dm-form__list-slot"></div>
</div>
