<div class="create-group-form">
  <div class="messenger-modal__avatar-row">
    <div ref="avatarMount" class="create-group-form__avatar-slot"></div>
    <div class="messenger-modal__field messenger-modal__field--grow">
      <label class="messenger-modal__label" for="group-name">Group name</label>
      <div class="messenger-modal__input-shell">
        <input
          type="text"
          id="group-name"
          class="messenger-modal__input"
          placeholder="Enter group name..."
          autocomplete="off"
          ref="nameInput"
        />
      </div>
    </div>
  </div>
  <div ref="pickerMount" class="create-group-form__picker-slot"></div>
</div>
