<div class="chat-page">
  {{{ChatHeader peerName=peerName avatarUrl=avatarUrl showStatusDot=showStatusDot showGroupMemberActions=showGroupMemberActions canChangeAvatar=canChangeAvatar}}}
  <input
    type="file"
    data-chat-avatar-input
    accept="image/jpeg,image/jpg,image/png,image/gif,image/webp"
    hidden
  />
  {{{ChatThread hasMessages=hasMessages timelineRows=timelineRows}}}
  {{{ChatFooter peerName=peerName}}}
</div>
