<div class="chat-page">
  {{{ChatHeader peerName=peerName showStatusDot=showStatusDot showGroupMemberActions=showGroupMemberActions}}}
  {{{ChatThread peerName=peerName hasMessages=hasMessages timelineRows=timelineRows}}}
  {{{ChatFooter peerName=peerName}}}
</div>
