<div class="chat-page__thread" role="log" aria-label="Сообщения">
  {{#if hasMessages}}
    {{#each timelineRows}}
      {{{ChatTimelineRow
        isDate=isDate
        isIncoming=isIncoming
        isOutgoing=isOutgoing
        dateLabel=dateLabel
        author=author
        time=time
        text=text
        reaction=reaction
        reactionCount=reactionCount
        showReadReceipt=showReadReceipt
        imageCaption=imageCaption
        hasImage=hasImage
      }}}
    {{/each}}

    <div class="chat-page__typing" aria-live="polite">
      <span class="chat-page__typing-dots" aria-hidden="true">
        <span></span><span></span><span></span>
      </span>
      <span class="chat-page__typing-text">{{peerName}} is typing...</span>
    </div>
  {{else}}
    <div class="chat-page__empty">
      {{{NoChatStub title="Нет сообщений" description="Напишите первое сообщение в поле ниже."}}}
    </div>
  {{/if}}
</div>
