<div class="chat-page__thread" role="log" aria-label="Сообщения">
  {{#if hasMessages}}
    {{#each timelineRows}}
      {{{ChatTimelineRow
        isDate=isDate
        isIncoming=isIncoming
        isOutgoing=isOutgoing
        dateLabel=dateLabel
        author=author
        authorAvatarUrl=authorAvatarUrl
        time=time
        text=text
        reaction=reaction
        reactionCount=reactionCount
        showReadReceipt=showReadReceipt
        imageCaption=imageCaption
        hasImage=hasImage
        mediaImageUrl=mediaImageUrl
      }}}
    {{/each}}
  {{else}}
    <div class="chat-page__empty">
      {{{NoChatStub title="Нет сообщений" description="Напишите первое сообщение в поле ниже."}}}
    </div>
  {{/if}}
</div>
