@use '../../styles/variables' as *;

.button {
  border-radius: $border-radius-6;
  font-size: $font-size-14;
  line-height: $line-height-20;
  padding: 8px 16px;
  border: none;
  transition: background-color ease-in-out 0.25s;

  &:hover {
    cursor: pointer;
  }
}
