<div class="main-layout">
  <header class="main-layout__header">
    <h1 class="main-layout__title">GilgaChat</h1>
    <nav class="main-layout__nav">
      {{> Link signInLink }}
      {{> Link signUpLink }}
      {{> Link profileLink }}
    </nav>
  </header>
  <main id="layout-content" class="main-layout__content">
    {{{content}}}
  </main>
</div>
