<div class="search {{className}}">
  <i class="fa-solid {{iconClass}} search__icon" aria-hidden="true"></i>
  <input
    type="text"
    class="search__input"
    placeholder="{{placeholder}}"
    aria-label="{{ariaLabel}}"
  />
</div>
