<section class="edit-profile">
  <header class="edit-profile__header">
    <h2 class="edit-profile__title">Edit Profile</h2>
  </header>

  <form id="editProfileForm" class="edit-profile__form" action="#" method="POST">
    {{> FormField loginFormField }}
    {{> FormField displayNameFormField }}
    {{> FormField emailFormField }}
    {{> FormField firstNameFormField }}
    {{> FormField secondNameFormField }}
    {{> FormField phoneFormField }}
    {{> FormField oldPasswordFormField }}
    {{> FormField newPasswordFormField }}

    <footer class="edit-profile__footer">
      {{> Button cancelButton }}
      {{> Button saveButton }}
    </footer>
  </form>
</section>
