<div class="server-error">
  <h1 class="server-error__title">500</h1>
  <p class="server-error__subtitle">Internal server error</p>
  <p class="server-error__message">
    Something went wrong on our side. Please try again.
  </p>
  <div class="server-error__actions">
    <button type="button" class="server-error__btn server-error__btn--primary" data-try-again>
      <i class="fa-solid fa-rotate-right" aria-hidden="true"></i>
      Try again
    </button>
    <a href="{{homeHref}}" class="server-error__btn server-error__btn--secondary" data-go-home>
      <i class="fa-solid fa-house" aria-hidden="true"></i>
      Home
    </a>
  </div>
</div>
