// Color palette
$background-color: #313338;
$background-color-on-surface-black: #2b2d31;
$background-color-input: #1e1f22;

$text-color-placeholder: #80848e;
$text-color-primary: #dbdee1;
$text-color-secondary: #b5bac1;

$color-accent: #5865f2;
$color-accent-dark: #424cb5;
$color-success: green;
$color-error: red;
$color-danger: #dc3545;

$border-color-dark: #1e1f22;
