<div class="not-found">
  <h1 class="not-found__title">404</h1>
  <p class="not-found__subtitle">Page not found</p>
  <p class="not-found__message">
    The page you're looking for doesn't exist or was moved.
  </p>
  <div class="not-found__actions">
    <a href="{{homeHref}}" class="not-found__btn not-found__btn--primary" data-go-home>
      <i class="fa-solid fa-house" aria-hidden="true"></i>
      Home
    </a>
    <button type="button" class="not-found__btn not-found__btn--secondary" data-go-back>
      <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      Back
    </button>
  </div>
</div>
