<div class="messenger-sidebar__top">
  <div class="messenger-sidebar__brand">
    <span class="messenger-sidebar__brand-icon-wrap">
      <img src="images/logo.png" alt="" class="messenger-sidebar__brand-icon" width="40" height="40" />
    </span>
    <h2 class="messenger-sidebar__brand-title">{{appTitle}}</h2>
  </div>
  {{{Search placeholder=searchPlaceholder ariaLabel=searchAriaLabel}}}
</div>
