<aside class="messenger-sidebar">
  {{{SidebarHeader topLinks=topLinks appTitle=appTitle appTitleRightSection=appTitleRightSection}}}
  <nav class="messenger-sidebar__nav">
    {{{SidebarChatSection sectionData="dm" title="DIRECT MESSAGES" items=directMessages}}}
    {{{SidebarChatSection sectionData="groups" title="GROUPS" items=groups}}}
  </nav>
  {{{SidebarUserPanel currentUser=currentUser}}}
</aside>
