<div class="messenger-sidebar">
  {{{SidebarHeader appTitle=appTitle}}}
  <div class="messenger-sidebar__scroll">
    {{{SidebarChatSection sectionData="groups" title="GROUPS" items=groups}}}
  </div>
  {{{SidebarUserPanel currentUser=currentUser}}}
</div>
