<div class="messenger-sidebar__user">
  {{{SidebarAvatar variant="user" size="panel"}}}
  <div class="messenger-sidebar__user-info">
    {{{SidebarPrimaryLine text=displayName wrapClassName="messenger-sidebar__user-name"}}}
    {{{SidebarUserStatus text=statusLine}}}
  </div>
  {{{IconButton icon="fa-solid fa-gear" ariaLabel=settingsAriaLabel className="messenger-sidebar__user-settings" href=settingsHref}}}
</div>
