<label class="messenger-modal__avatar-btn" title="Group avatar" tabindex="0" ref="avatarLabel">
  <input
    type="file"
    accept="image/jpeg,image/png,image/gif,image/webp"
    class="messenger-modal__avatar-input"
    ref="avatarInput"
    hidden
  />
  <span class="messenger-modal__avatar-placeholder" ref="avatarPlaceholder" aria-hidden="true">↑</span>
  <img class="messenger-modal__avatar-preview" ref="avatarPreviewImg" alt="" width="64" height="64" hidden />
</label>
