<div class="group-member-picker">
  <label class="messenger-modal__label" for="group-member-search" ref="membersLabel">Add members (0)</label>
  <div ref="chipsMount" class="messenger-modal__chips group-member-picker__chips"></div>
  <div class="group-member-picker__dropdown-anchor">
    <div class="messenger-modal__field messenger-modal__field--grow">
      <div class="messenger-modal__input-shell">
        <input
          type="text"
          id="group-member-search"
          class="messenger-modal__input"
          placeholder="Search users..."
          autocomplete="off"
          ref="memberSearchInput"
          aria-autocomplete="list"
          aria-expanded="false"
        />
      </div>
    </div>
  </div>
</div>
