<div class="group-member-picker">
  <div ref="chipsMount" class="messenger-modal__chips"></div>
  <div class="messenger-modal__field">
    <label class="messenger-modal__label" for="group-member-search" ref="membersLabel">Add members (0)</label>
    <div class="messenger-modal__input-shell">
      <input
        type="text"
        id="group-member-search"
        class="messenger-modal__input"
        placeholder="Search users..."
        autocomplete="off"
        ref="memberSearchInput"
      />
    </div>
  </div>
  <div ref="resultsMount" class="group-member-picker__mount"></div>
</div>
