<span class="{{wrapClassName}}">
  {{#if statusType}}
    <span class="messenger-sidebar__status-dot messenger-sidebar__status-dot--{{statusType}}" aria-hidden="true"></span>
  {{/if}}
  {{#if leadingSection}}{{{leadingSection}}}{{/if}}
  <span class="messenger-sidebar__primary-text">{{text}}</span>
</span>
