{{#if isUserVariant}}
  <span class="{{rootClassName}}" aria-hidden="true"></span>
{{else}}
  <span class="{{rootClassName}}" aria-hidden="true">
    <i class="fa-solid {{iconClass}}" aria-hidden="true"></i>
  </span>
{{/if}}
