// Color palette
$background-color: #313338;
$background-color-on-surface-black: #2b2d31;
$background-color-input: #1e1f22;
$background-color-surface: #383b40;
$text-color-placeholder: #80848e;
$text-color-primary: #dbdee1;
$text-color-secondary: #b5bac1;
$color-muted: #80848e;
$color-accent: #5865f2;
$color-accent-dark: #424cb5;
$button-bg-secondary: #383b40;
$button-bg-secondary-hover: #40444b;
$button-border-secondary: #4e5058;
$color-success: green;
$color-error: #f23f43;
$color-danger: #dc3545;
$color-danger-muted: #a85c5c; // Softer red for non-urgent error states (e.g. 500 page)
$button-danger-hover: #c82333;
$border-color-dark: #1e1f22;
