<div class="no-chat-stub{{#if fillVertical}} no-chat-stub--fill{{/if}}">
  <p class="no-chat-stub__title">{{title}}</p>
  {{#if description}}
    <p class="no-chat-stub__description">{{description}}</p>
  {{/if}}
</div>
