@use '../../styles/variables' as *;

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gap-size-12;
  align-self: stretch;
  width: 100%;

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $gap-size-12;
    width: 100%;
  }

  &__sign-in-text,
  &__legal {
    margin: 0;
    font-size: $font-size-14;
    line-height: $line-height-20;
    color: $text-color-secondary;
  }

  &__link {
    text-decoration: none;
    font-size: $font-size-14;
    line-height: $line-height-20;
  }

  &__submit-btn {
    background-color: $color-accent;
    color: $text-color-primary;
    width: 100%;

    &:hover {
      background-color: $color-accent-dark;
    }
  }
}
