<div class="messenger-fab-host" data-messenger-fab-host>
  <button
    type="button"
    class="messenger-fab"
    aria-label="New group chat"
    ref="fabBtn"
  >
    <span class="messenger-fab__icon" aria-hidden="true">+</span>
  </button>
</div>
