<div class="messenger-fab-host" data-messenger-fab-host>
  <button
    type="button"
    class="messenger-fab"
    aria-label="New conversation"
    aria-expanded="false"
    aria-haspopup="true"
    ref="fabBtn"
  >
    <span class="messenger-fab__icon" aria-hidden="true">+</span>
  </button>
  <div class="messenger-fab-menu" ref="fabMenu" role="menu" hidden>
    <button type="button" class="messenger-fab-menu__item" role="menuitem" data-open="dm">Create DM</button>
    <button type="button" class="messenger-fab-menu__item" role="menuitem" data-open="group">Create Group</button>
  </div>
</div>
