<div class="form-field {{className}}">
  {{> Label label }}
  <div class="form-field__input-wrapper">
    {{#if icon}}<i class="{{icon}} form-field__icon" aria-hidden="true"></i>{{/if}}
    {{> Input input }}
  </div>
</div>