<div class="not-found">
  <span class="not-found__bg-number" aria-hidden="true">404</span>
  <h2 class="not-found__title">Oops! You're Lost in Cyberspace</h2>
  <p class="not-found__message">
    Looks like this page went on vacation without leaving a forwarding address.
    Even our best digital detectives couldn't find it!
    <span class="not-found__emoji" aria-hidden="true">🕵️ 🐛</span>
  </p>
  <div class="not-found__image-wrap">
    <img
      src="images/404-dune.png"
      alt="Person standing on a sand dune in vast landscape"
      class="not-found__image"
    />
  </div>
  <ul class="not-found__reasons" role="list">
    <li class="not-found__reason">
      <span class="not-found__reason-icon" aria-hidden="true">🤔</span>
      Maybe you typed something wrong?
    </li>
    <li class="not-found__reason">
      <span class="not-found__reason-icon" aria-hidden="true">🗺️</span>
      This page is off the map!
    </li>
    <li class="not-found__reason">
      <span class="not-found__reason-icon" aria-hidden="true">👻</span>
      Or it never existed... spooky!
    </li>
  </ul>
  <div class="not-found__actions">
    <a href="#" class="not-found__btn not-found__btn--primary" data-go-home>
      <i class="fa-solid fa-house" aria-hidden="true"></i>
      Take Me Home
    </a>
    <button type="button" class="not-found__btn not-found__btn--secondary" data-go-back>
      <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      Go Back
    </button>
  </div>
  <p class="not-found__quote">
    "Not all who wander are lost... but you definitely are right now."
    <span class="not-found__quote-mark" aria-hidden="true">!</span>
  </p>
</div>
